@model IEnumerable<Library.API.Data.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add a new book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Author
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td style="width: 50%;">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
